.HomeBooking {
    display: flex;
    height: 100px;
    margin-bottom: 100px;
}
.HomeBookingTitle {
    background: #BB986F;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 85px;
}
.HomeBookingTitle h4 {
    font-size: 18px;
    color: #FFFFFF;
}
.HomeBookingItem {
    width: 16.6666%;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
    padding: 0 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.HomeBookingItem:last-child {
    border-right: none;
}
.HomeBookingItem label {
    color: #333333;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: inline-block;
    width: 100%;
    font-weight: 500;
}
.HomeBookingButton {
    display: flex;
    align-items: center;
    justify-content: center;
}
.HomeBookingButton button {
    background: #000;
    border: none;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 160px;
    cursor: pointer;
    transition: .3s;
}
.HomeBookingButton button:hover {
    background: #BB986F;
    box-shadow: 0 15px 20px rgba(187, 152, 111, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
