.HomeNewsSliderItem {
    display: flex;
    flex-direction: column;
}
.HomeNewsSliderItem img {
    height: 160px;
    object-fit: cover;
    margin-bottom: 30px;
}
.HomeNewsSliderItem h5 {
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
    font-size: 14px;
}
.HomeNewsSliderItem p {
    font-size: 10px;
}
