.HomeFooterTextColumn {
    width: 33.3333%;
    border-right: 1px solid #2A2A2A;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.HomeFooterTextColumn:last-child {
    border-right: none;
}
