.RegencyResortHeaderLangItem {
    background: transparent;
    border: none;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    color: #707070;
    border-right: 2px solid #707070;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.RegencyResortHeaderLangItem:hover {
    color: #000;
}
.RegencyResortHeaderLangItem:last-child {
    border-right: none;
}
