.HomeReviewsLink {
    position: relative;
    width: 300px;
    height: 100px;
}
.HomeReviewsLink a {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.HomeReviewsLink img {
    width: 100%;
    object-fit: contain;
}
