.RegencyResortHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}
.RegencyResortHeaderLogo {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 175px;
    height: 60px;
}
.RegencyResortHeaderLang {
    display: flex;
}
.RegencyResortHeaderTrip {
    background: url(../../../assets/img/svg/tripadvisor.svg) no-repeat center center;
    width: 130px;
    height: 20px;
    -webkit-background-size: contain;
    background-size: contain;
    position: relative;
    transition: 0.3s;
}
.RegencyResortHeaderTrip:hover {
    transform: scale(1.05);
}
.RegencyResortHeaderTrip a {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: inline-block;
    position: absolute;
}
