.RegResMainSelect{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.RegResMainSelect:after {
    content: '';
    display: inline-block;
    background: url(../../../../assets/img/svg/arrow-bottom-regency.svg) no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
    width: 10px;
    height: 5px;
    position: absolute;
    top: 50%;
    right: 45px;
    transform: translateY(-50%);
}
.RegResMainSelectTitle {
    color: #000;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 400;
}
.RegResMainSelectItemButton {
    background: transparent;
    color: #9E9E9E;
    font-size: 10px;
    font-weight: 400;
    border: none;
}
.RegResMainSelectItem {
    position: relative;
}
.RegResMainSelectDrop {
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: translateY(100%);
    border: 1px solid black;
}
