.HomeBookingGuestsCounter {
    width: 100%;
}
.CounterButton {
    background: transparent;
    font-size: 18px;
    color: #BB986F;
    font-family: 'Poppins', sans-serif;
    border: none;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
}
.CounterButton:hover {
    background: #BB986F;
    color: #FFFFFF;
}
.HomeBookingGuestsCounter span {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    min-width: 50px;
    text-align: center;
    display: inline-block;
}
.HomeBookingGuests {
    position: relative;
}
.HomeBookingGuests:after {
    content: '';
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 35px;
    height: 15px;
    width: 15px;
    background: url(../../../../assets/img/svg/guest.svg);
}
