.HomeAdvantagesItem {
    display: flex;
    padding: 30px;
    background: #ffffff;
    width: calc(33.3333% - 40px);
    margin-left: 40px;
    margin-bottom: 40px;
    align-items: center;
    transition: 0.3s;
}
.HomeAdvantagesItem:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-5%);
}
.HomeAdvantagesItemImage {
    width: 60px;
    height: 60px;
    min-width: 60px;
    margin-right: 35px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.HomeAdvantagesItemText {
    display: flex;
    flex-direction: column;
}
.HomeAdvantagesItemText h5 {
    font-weight: 700;
    color: #000000;
    margin-bottom: 15px;
    font-size: 14px;
}
.HomeAdvantagesItemText p {
    font-size: 12px;
}
