.NavBarItem {
    margin-right: 40px;
}
.NavBarItem:last-child {
    margin-right: 0;
}
.NavBarItem a {
    color: #808080;
    text-transform: uppercase;
}
.NavBarItem a:hover {
    color: #000;
    text-decoration: none;
}
