.HomeFooterTextItem h4 {
    color: #BB986F;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 15px;
}
.HomeFooterTextItem p {
    color: #A7A7A7;
    font-size: 12px;
    line-height: 1.4;
}
.HomeFooterTextItem p pre {
    color: #A7A7A7;
    font-size: 12px;
    line-height: 1.4;
}
