.HomeNewsSlider .uk-slider-items {
    position: static;
}
.HomeNewsSliderButtons button {
    background-image: url(../../../../assets/img/svg/arrow-home.svg);
    width: 100px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 80px;
}
.HomeNewsSliderButtons button:first-child {
    background-image: url(../../../../assets/img/svg/arrow-home-prev.svg);
}
