.HomeBookingDatePicker {
    position: relative;
}
.HomeBookingDatePicker:after {
    content: '';
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 35px;
    height: 15px;
    width: 15px;
    background: url(../../../../assets/img/svg/calendar.svg);
}
.HomeBookingDatePicker .react-datepicker-wrapper {
    width: 100%;
}
.HomeBookingDatePicker .react-datepicker__input-container {
    width: 100%;
}
.HomeBookingDatePicker .react-datepicker__input-container input {
    width: 100%;
    border: none;
    text-transform: uppercase;
    color: #707070;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background: transparent !important;
    font-weight: 500;
    outline: none;
}
.HomeBookingDatePicker .react-datepicker {
    border: 1px solid #E4E4E4;
    border-radius: inherit;
    font-family: 'Poppins', sans-serif;

}
.HomeBookingDatePicker .react-datepicker-popper {
    z-index: 100;
}
.HomeBookingDatePicker .react-datepicker__header {
    background: #E4E4E4;
    border-bottom: none;
}
.HomeBookingDatePicker .react-datepicker__current-month {
    color: #BB986F;
    font-weight: 500;
}
.HomeBookingDatePicker .react-datepicker__navigation--next {
    border-left-color: #BB986F;
}
.HomeBookingDatePicker .react-datepicker__navigation--previous {
    border-right-color: #BB986F;
}
.HomeBookingDatePicker .react-datepicker__navigation--next:hover,
.HomeBookingDatePicker .react-datepicker__navigation--previous:hover {
    opacity: 0.75;
}
.HomeBookingDatePicker .react-datepicker__day--selected {
    background-color: #BB986F;
    border-radius: inherit;
    font-weight: 500;
}
.HomeBookingDatePicker .react-datepicker__day:hover {
    border-radius: inherit;
}
.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before, .react-datepicker__month-read-view--down-arrow::before, .react-datepicker__month-year-read-view--down-arrow::before {
    border-top-color: #E4E4E4 !important;
}
