.HomeBookingHotel {
    position: relative;
}
.HomeBookingHotel svg {
    display: none;
}
.HomeBookingHotel .MuiFormControl-root-1 {
    height: 60px;
    width: 100%;
    background: transparent !important;
}
.HomeBookingHotel > div {
    height: 100%;
}
.HomeBookingHotel div {
    height: 100%;
    position: static;
    background: transparent !important;
    padding: 0;
}
.HomeBookingHotel > div > div > div {
    display: flex;
    align-self: flex-end;
    height: 100%;
    padding: 0;
    text-transform: uppercase;
    color: #707070;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background: transparent !important;
    font-weight: 500;
    align-content: flex-end;
    flex-direction: column-reverse;
}
.HomeBookingHotel > div em {
    align-self: flex-start;
}
.HomeBookingHotel > div > div > div > div {
    display: flex;
    flex-direction: column-reverse;
}
.HomeBookingHotel > div > div:before,
.HomeBookingHotel > div > div:after {
    border-bottom: none !important;
}
.HomeBookingHotel > div:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 5.5px 0 5.5px;
    border-color: #bb976f transparent transparent transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 35px;
}
