.HomeReasonsTextBlock {
    width: 65%;
    padding-top: 150px;
}
.HomeReasonsTextBlockContent p {
    font-size: 14px;
    margin-bottom: 20px;
}
.HomeReasonsTextBlockContent p:last-child {
    margin-bottom: 0;
}
.HomeReasonsTextBlock button {
    color: #BB986F;
    font-size: 14px;
    background: transparent;
    border: none;
    outline: none;
    padding-right: 80px;
    position: relative;
    cursor: pointer;
}
.HomeReasonsTextBlock button:hover {
    text-decoration: underline;
}
.HomeReasonsTextBlockContent {
    overflow: hidden;
}
.HomeReasonsTextBlock button:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #bb976f transparent transparent transparent;
    transition: 0.5s;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.HomeReasonsTextBlock button.active:after {
    transform: translateY(-50%) rotate(180deg);
}
