.HomeNavItem {
    width: 25%;
    height: 100%;
    position: relative;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.7s;
    overflow: hidden;
}
.HomeNavItem:before {
    display: inline-block;
    content: '';
    height: 2px;
    background: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
}
.HomeNavItem:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105%;
    height: 105%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    transition: 0.7s;
}
.HomeNavItem:hover {
    height: 115%;
    width: 27%;
}
.HomeNavItem:hover:after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #000000 100%);
}
.HomeNavItem:hover .HomeNavTitle,
.HomeNavItem:hover .HomeNavText {
    opacity: 1;
}
.HomeNavItem > div {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.HomeNavItem a {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
}
.HomeNavTitle {
    position: absolute;
    width: 170px;
    height: 200px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
    opacity: 0;
    transition: 0.5s;
}
.HomeNavText {
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 24px;
    color: #FFFFFF;
    padding-bottom: 30px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 10;
    opacity: 0;
    transition: 0.5s;
}
.HomeNavText:after {
    display: inline-block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 1px;
    background: #BB986F;
}
