.HomeFooter{
    display: flex;
    min-height: 575px;
}
.HomeFooterLogoPart {
    width: 15%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.HomeFooterTextPart {
    flex: 1;
    flex-grow: 5;
    background: #232323;
    display: flex;
    flex-direction: column;
}
.HomeFooterLogo {
    width: 60%;
    min-height: 150px;
    background: url(../../../assets/img/png/Home-logo.png) no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
    position: relative;
}
.HomeFooterLogo a {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
}
.HomeFooterDescription {
    height: 65px;
    background: #BB986F;
    display: flex;
    align-items: center;
    justify-content: center;
}
.HomeFooterDescription span {
    color: #000;
    font-size: 12px;
}
