.HomeReasons .Container {
    display: flex;
    justify-content: flex-end;
}
.HomeReasons {
    min-height: 740px;
    -webkit-background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    margin-bottom: 150px;
}
