/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Poppins', sans-serif;*/

.App {
    text-align: center;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #707070;
    background: #ffffff;
    font-weight: 400;
}

h2 {
    font-size: 24px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
}
em {
    color: #707070;
}
pre {
    border: none;
    padding: 0;
    margin: 0;
    color: #707070;
    white-space: pre-wrap;
    line-height: 1.2;
    background: transparent;
}
