.HomeReviews {
    margin-bottom: 150px;
}
.HomeReviews .Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.HomeReviewsLinks,
.HomeReviewsTitle {
    width: 80%;
}
.HomeReviewsLinks {
    display: flex;
    justify-content: space-between;
}
.HomeReviewsTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 80px;
}
.HomeReviewsTitle h2 {
    flex-grow: 5;
    margin-bottom: 0;
}
